@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

* {
/*  border: solid black 1px;*/
  box-sizing: border-box;
  font-family: 'Text Me One', sans-serif;
}

body {
  overscroll-behavior: contain;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'header'
    'settings'
    'canvas';
  grid-template-columns: max-content;
  grid-template-rows: max-content max-content max-content;
  height: max-content;
  width: max-content;
  background-color: azure;
  color: teal;
}

header {
  grid-area: header;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  
}

canvas {
  grid-area: canvas;
}

label {
  display: inline-block;
  width: 75px;
}

.cols {
  grid-area: cols;
}

.rows {
  grid-area: rows;
}

.generate {
  grid-area: generate;
}

footer {
  grid-area: footer;
  text-align: center;
}

footer > a:hover {
  background-color: lightgrey;
}

@media (max-width: 700px) {
  :root{
    font-size: 70%;
  }
  body {
    grid-template-areas:
      'header'
      'settings'
      'canvas'
      'footer';
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content max-content max-content;
  }
  canvas { 
    width: 90vw;
    align-self: center;
  }
  *{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.round_text_box {
  border-radius: 10px; 
  border: 2px solid #73AD21; 
  padding: 2px; 
  background: #f9fff7
}
